.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px #ccc solid;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.formContainer > h3 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80%;
}

form * {
    height: 40px;
    border-radius: 5px;
}

form input {
    width: 100%;
    border: none;
    padding-left: 10px;
}

form button {
    border: none;
    width: 100%;
    padding: 5px;
    font-weight: bold;
}

.light button {
    background-color: black;
    color: white;
}

.light input {
    background-color: #eee;
}

.dark {
    background-color: #333;
}

.dark h3 {
    color: white;
}

.dark input {
    background-color: #5d5d5d;
    color: white;
}

.dark button {
    background-color: white;
    color: black;
}